body {
  background: #247881;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  top: 0;
}

.containerNav {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header .logo {
  height: 4rem;
  cursor: pointer;
  color: white;
}

.header .logo img {
  height: 4rem;
}

.header .sections ul {
  display: flex;
  gap: 1rem;
}

.header .sections ul li {
  font-size: 1rem;
  color: #247881;
  cursor: pointer;
  font-weight: 500;
  list-style: none;
}

.header a {
  font-size: 1rem;
  color: #247881;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
}

.sectionGeneral{
  
    padding-top: 4rem;
    padding-left: 3rem;
    
}

.sectionGeneral h1{
  color: white;
}

.contener{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}



.generalc{
  background: white;
  border-radius: .5rem;
  width: 30rem;

}

.parte{
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.parte .img22 img{
  width: 6rem;
  cursor: pointer;
}